<!DOCTYPE html>
<html>
<head>
    <%- include('partials/html_head') %>
    <title>Conditions - <%= title %></title>
</head>
<body>
    <%- include('partials/search_header', {q: ''}) %>
    <div class="conditions">
        <h1>Browsing <%= conditions.length %> conditions</h1>
        <% var c = ''; %>
        <% for (var i = 0; i < conditions.length; i++) { %>
            <% if (c != conditions[i][0]) { %>
                <% if (c != '') { %>
                    </div>
                    <hr class="separator" />
                <% } %>
                <div class="section">
                    <h4 class="section-header">
                        <% c = conditions[i][0]; %>
                        <%= c %>
                    </h4>
            <% } %>
                    <p class="item">
                        <a href="/condition/<%= encodeURIComponent(conditions[i]) %>"><%= conditions[i] %></a>
                    </p>
        <% } %>
    </div>
    <%- include('partials/html_foot') %>
</body>
</html>
