<!DOCTYPE html>
<html>
<head>
    <%- include('partials/html_head') %>
    <title><%= condition.description %> - <%= title %></title>
</head>
<body>
    <%- include('partials/search_header', {q: ''}) %>
    <div>
        <h1><%= condition.description %></h1>
        <div>
            <h3>Introduction</h3>
            <p><%= condition.introduction %></p>
        </div>
        <div>
            <h3>Insights</h3>
            <h5>Highest</h5> <p><%= condition.insights[0] %></p>
            <h5>Lowest</h5> <p><%= condition.insights[1] %></p>
        </div>
        <div>
            <h3>Evidence</h3>
            <% if (evidence.length == 0) { %>
                No supporting evidence
            <% } else { %>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Author (Year)</th>
                            <th>Study Design</th>
                            <th>Sample Size</th>
                            <th>Population</th>
                            <th>Outcome</th>
                            <th>Problem</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <% for (var i = 0; i < evidence.length; i++) { %>
                        <tr>
                            <td><a href="<%= evidence[i].link %>" target="_blank"><%= `${evidence[i].author} (${evidence[i].year})` %></a></td>
                            <td><%= evidence[i].design.join(', ') %></td>
                            <td><%= evidence[i].sample_size == 0 ? 'N/A' : evidence[i].sample_size %></td>
                            <td><%= evidence[i].population %></td>
                            <td><%= evidence[i].outcome %></td>
                            <td><%= evidence[i].problem %></td>
                            <td><%= evidence[i].results %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
        <div>
            <h3>References</h3>
            <ol>
                <% for (var i = 0; i < condition.references.length; i++) { %>
                    <li><%= condition.references[i] %></li>
                <% } %>
            </ol>
        </div>
    </div>
    <%- include('partials/html_foot') %>
</body>
</html>
