<!DOCTYPE html>
<html>
<head>
	<%- include('partials/html_head') %>
    <title><%= q %> - <%= title %></title>
</head>
<body>
    <%- include('partials/search_header') %>
    <div class="search-results">
    	<% if (conditions.primary.length == 0) { %>
    		<p>No results found</p>
    	<% } else { %>
	    	<p>Showing results for <em><%= q %></em></p>
	    	<% for (var i = 0; i < conditions.primary.length; i++) { %>
		    	<div class="card">
		    		<div class="card-body">
		    		    <h4 class="card-title"><%= conditions.primary[i].description %></h4>
			    		<h6 class="card-title">Introduction</h6>
			    		<p><%= conditions.primary[i].introduction %></p>
			    		<h6 class="card-title">Insights</h6>
			    		<p><%= conditions.primary[i].insights %></p>
			    		<h6 class="card-title">Evidence</h6>
			    		<p><%= conditions.primary[i].evidence %> publications</p>
			    		<a href="/condition/<%= conditions.primary[i].description %>" class="btn btn-primary cta">View details</a>
			    	</div>
		    	</div>
		    <% } %>
	    <% } %>
    </div>
    <%- include('partials/html_foot') %>
</body>
</html>
