<!DOCTYPE html>
<html>
<head>
	<%- include('partials/html_head') %>
    <title><%= q %> - <%= title %></title>
</head>
<body>
    <%- include('partials/search_header') %>
    <div class="search_results" id="search_results">
    	<% if (evidence.length == 0) { %>
    		<p>No results found</p>
    	<% } else { %>
	    	<p>Showing <%= evidence.length %> results for <%= q %> (<%= conditions.join(', ') %>)</p>
	    	<% for (var i = 0; i < evidence.length; i++) { %>
		    	<div class="search_results_item">
		    		<a class="search_results_item_title" href="TODO">
		    			<%= evidence[i].title %>
		    		</a>
		    		<div class="search_results_item_authors">
		    			<%= evidence[i].authors %>
		    		</div>
		    		<div class="search_results_item_journal">
		    			<%= evidence[i].journal %>
		    		</div>
		    		<div class="search_results_item_summary">
		    			<%= evidence[i].summary %>
		    		</div>
		    	</div>
		    <% } %>
	    <% } %>
    </div>
    <%- include('partials/html_foot') %>
</body>
</html>
